<div class="todo" [class.done]="toDo$.status">
  <div class="todo-content">
    <div class="handle">
      <i class="fas fa-grip-vertical"></i>
    </div>
    <div class="todo-content-check">
      <i
        *ngIf="!toDo$.status"
        (click)="changeCheck($event)"
        class="far fa-circle"
      ></i>
      <i
        *ngIf="toDo$.status"
        (click)="changeCheck($event)"
        class="far fa-check-circle"
      ></i>
    </div>
    <div class="todo-content-title">
      <input
        (blur)="changeLabel($event)"
        type="text"
        [(ngModel)]="toDo$.label"
        placeholder="name of list item"
      />
    </div>
  </div>
  <div class="delete" (click)="deleteToDo($event)">
    <i class="far fa-trash-alt"></i>
  </div>
</div>
